<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdCasecheckPfszMapper">
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdCasecheckPfsz">
    <id column="ajpcpfxid" jdbcType="VARCHAR" property="ajpcpfxid" />
    <result column="px" jdbcType="INTEGER" property="px" />
    <result column="psnr" jdbcType="VARCHAR" property="psnr" />
    <result column="pfbz" jdbcType="VARCHAR" property="pfbz" />
    <result column="fz" jdbcType="DECIMAL" property="fz" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="VARCHAR" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bd_casecheck_pfsz
    where ajpcpfxid = #{ajpcpfxid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdCasecheckPfsz">
    insert into bd_casecheck_pfsz (ajpcpfxid, px, psnr, 
      pfbz, fz, create_by, 
      create_date, update_by, update_date, 
      remarks, flag)
    values (#{ajpcpfxid,jdbcType=VARCHAR}, #{px,jdbcType=INTEGER}, #{psnr,jdbcType=VARCHAR}, 
      #{pfbz,jdbcType=VARCHAR}, #{fz,jdbcType=DECIMAL}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdCasecheckPfsz">
    update bd_casecheck_pfsz
    set px = #{px,jdbcType=INTEGER},
      psnr = #{psnr,jdbcType=VARCHAR},
      pfbz = #{pfbz,jdbcType=VARCHAR},
      fz = #{fz,jdbcType=DECIMAL},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where ajpcpfxid = #{ajpcpfxid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ajpcpfxid, px, psnr, pfbz, fz, create_by, create_date, update_by, update_date, 
    remarks, flag
    from bd_casecheck_pfsz
    where ajpcpfxid = #{ajpcpfxid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ajpcpfxid, px, psnr, pfbz, fz, create_by, create_date, update_by, update_date, 
    remarks, flag
    from bd_casecheck_pfsz
  </select>
</mapper>