<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdCasecheckPfMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdCasecheckPf" >
    <id column="pfid" property="pfid" jdbcType="VARCHAR" />
    <result column="psnr" property="psnr" jdbcType="VARCHAR" />
    <result column="pfbz" property="pfbz" jdbcType="VARCHAR" />
    <result column="fz" property="fz" jdbcType="DECIMAL" />
    <result column="kf" property="kf" jdbcType="DECIMAL" />
    <result column="ly" property="ly" jdbcType="VARCHAR" />
    <result column="df" property="df" jdbcType="DECIMAL" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="px" property="px" jdbcType="INTEGER" />
    <result column="ajpcid" property="ajpcid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_casecheck_pf
    where pfid = #{pfid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdCasecheckPf" >
    insert into bd_casecheck_pf (pfid, psnr, pfbz, 
      fz, kf, ly, df, 
      create_by, create_date, update_by, 
      update_date, remarks, flag, 
      px, ajpcid)
    values (#{pfid,jdbcType=VARCHAR}, #{psnr,jdbcType=VARCHAR}, #{pfbz,jdbcType=VARCHAR}, 
      #{fz,jdbcType=DECIMAL}, #{kf,jdbcType=DECIMAL}, #{ly,jdbcType=VARCHAR}, #{df,jdbcType=DECIMAL}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, 
      #{px,jdbcType=INTEGER}, #{ajpcid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdCasecheckPf" >
    update bd_casecheck_pf
    set psnr = #{psnr,jdbcType=VARCHAR},
      pfbz = #{pfbz,jdbcType=VARCHAR},
      fz = #{fz,jdbcType=DECIMAL},
      kf = #{kf,jdbcType=DECIMAL},
      ly = #{ly,jdbcType=VARCHAR},
      df = #{df,jdbcType=DECIMAL},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      px = #{px,jdbcType=INTEGER},
      ajpcid = #{ajpcid,jdbcType=VARCHAR}
    where pfid = #{pfid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select pfid, psnr, pfbz, fz, kf, ly, df, create_by, create_date, update_by, update_date, 
    remarks, flag, px, ajpcid
    from bd_casecheck_pf
    where pfid = #{pfid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select pfid, psnr, pfbz, fz, kf, ly, df, create_by, create_date, update_by, update_date, 
    remarks, flag, px, ajpcid
    from bd_casecheck_pf
  </select>
</mapper>