<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdCasechosenNoticereadMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdCasechosenNoticeread" >
    <id column="sjpxggydid" property="sjpxggydid" jdbcType="VARCHAR" />
    <result column="sjpxggid" property="sjpxggid" jdbcType="VARCHAR" />
    <result column="ydr" property="ydr" jdbcType="VARCHAR" />
    <result column="ydsj" property="ydsj" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_casechosen_noticeread
    where sjpxggydid = #{sjpxggydid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdCasechosenNoticeread" >
    insert into bd_casechosen_noticeread (sjpxggydid, sjpxggid, ydr, 
      ydsj)
    values (#{sjpxggydid,jdbcType=VARCHAR}, #{sjpxggid,jdbcType=VARCHAR}, #{ydr,jdbcType=VARCHAR}, 
      #{ydsj,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdCasechosenNoticeread" >
    update bd_casechosen_noticeread
    set sjpxggid = #{sjpxggid,jdbcType=VARCHAR},
      ydr = #{ydr,jdbcType=VARCHAR},
      ydsj = #{ydsj,jdbcType=TIMESTAMP}
    where sjpxggydid = #{sjpxggydid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select sjpxggydid, sjpxggid, ydr, ydsj
    from bd_casechosen_noticeread
    where sjpxggydid = #{sjpxggydid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sjpxggydid, sjpxggid, ydr, ydsj
    from bd_casechosen_noticeread
  </select>
</mapper>