<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdCasecheckNoticereadMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdCasecheckNoticeread" >
    <id column="ajpcggydid" property="ajpcggydid" jdbcType="VARCHAR" />
    <result column="gjpcggid" property="gjpcggid" jdbcType="VARCHAR" />
    <result column="ydr" property="ydr" jdbcType="VARCHAR" />
    <result column="ydsj" property="ydsj" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_casecheck_noticeread
    where ajpcggydid = #{ajpcggydid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdCasecheckNoticeread" >
    insert into bd_casecheck_noticeread (ajpcggydid, gjpcggid, ydr, 
      ydsj)
    values (#{ajpcggydid,jdbcType=VARCHAR}, #{gjpcggid,jdbcType=VARCHAR}, #{ydr,jdbcType=VARCHAR}, 
      #{ydsj,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdCasecheckNoticeread" >
    update bd_casecheck_noticeread
    set gjpcggid = #{gjpcggid,jdbcType=VARCHAR},
      ydr = #{ydr,jdbcType=VARCHAR},
      ydsj = #{ydsj,jdbcType=VARCHAR}
    where ajpcggydid = #{ajpcggydid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ajpcggydid, gjpcggid, ydr, ydsj
    from bd_casecheck_noticeread
    where ajpcggydid = #{ajpcggydid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ajpcggydid, gjpcggid, ydr, ydsj
    from bd_casecheck_noticeread
  </select>
</mapper>