<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdCasecheckZldjszMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdCasecheckZldjsz" >
    <id column="ajzldjid" property="ajzldjid" jdbcType="VARCHAR" />
    <result column="px" property="px" jdbcType="INTEGER" />
    <result column="dj" property="dj" jdbcType="VARCHAR" />
    <result column="qsfz" property="qsfz" jdbcType="INTEGER" />
    <result column="jsfz" property="jsfz" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_casecheck_zldjsz
    where ajzldjid = #{ajzldjid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdCasecheckZldjsz" >
    insert into bd_casecheck_zldjsz (ajzldjid, px, dj, 
      qsfz, jsfz, create_by, 
      create_date, update_by, update_date, 
      remarks, flag)
    values (#{ajzldjid,jdbcType=VARCHAR}, #{px,jdbcType=INTEGER}, #{dj,jdbcType=VARCHAR}, 
      #{qsfz,jdbcType=INTEGER}, #{jsfz,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdCasecheckZldjsz" >
    update bd_casecheck_zldjsz
    set px = #{px,jdbcType=INTEGER},
      dj = #{dj,jdbcType=VARCHAR},
      qsfz = #{qsfz,jdbcType=INTEGER},
      jsfz = #{jsfz,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where ajzldjid = #{ajzldjid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ajzldjid, px, dj, qsfz, jsfz, create_by, create_date, update_by, update_date, 
    remarks, flag
    from bd_casecheck_zldjsz
    where ajzldjid = #{ajzldjid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ajzldjid, px, dj, qsfz, jsfz, create_by, create_date, update_by, update_date, 
    remarks, flag
    from bd_casecheck_zldjsz
  </select>
</mapper>