<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdCasecheckNoticeMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdCasecheckNotice" >
    <id column="ajpcggid" property="ajpcggid" jdbcType="VARCHAR" />
    <result column="bt" property="bt" jdbcType="VARCHAR" />
    <result column="zt" property="zt" jdbcType="VARCHAR" />
    <result column="lx" property="lx" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="btys" property="btys" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_casecheck_notice
    where ajpcggid = #{ajpcggid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdCasecheckNotice" >
    insert into bd_casecheck_notice (ajpcggid, bt, zt, 
      lx, create_by, create_date, 
      update_by, update_date, remarks, 
      flag, btys)
    values (#{ajpcggid,jdbcType=VARCHAR}, #{bt,jdbcType=VARCHAR}, #{zt,jdbcType=VARCHAR}, 
      #{lx,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{flag,jdbcType=VARCHAR}, #{btys,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdCasecheckNotice" >
    update bd_casecheck_notice
    set bt = #{bt,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=VARCHAR},
      lx = #{lx,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      btys = #{btys,jdbcType=VARCHAR}
    where ajpcggid = #{ajpcggid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ajpcggid, bt, zt, lx, create_by, create_date, update_by, update_date, remarks, 
    flag, btys
    from bd_casecheck_notice
    where ajpcggid = #{ajpcggid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ajpcggid, bt, zt, lx, create_by, create_date, update_by, update_date, remarks, 
    flag, btys
    from bd_casecheck_notice
  </select>
</mapper>