<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdChosenRecordsMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdChosenRecords" >
    <id column="crid" property="crid" jdbcType="VARCHAR" />
    <result column="chosenid" property="chosenid" jdbcType="VARCHAR" />
    <result column="ajid" property="ajid" jdbcType="VARCHAR" />
    <result column="pcr" property="pcr" jdbcType="VARCHAR" />
    <result column="pcsj" property="pcsj" jdbcType="TIMESTAMP" />
    <result column="pcfs" property="pcfs" jdbcType="VARCHAR" />
    <result column="pczt" property="pczt" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_chosen_records
    where crid = #{crid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdChosenRecords" >
    insert into bd_chosen_records (crid, chosenid, ajid, 
      pcr, pcsj, pcfs, 
      pczt, create_by, create_date, 
      update_by, update_date, remarks, 
      flag)
    values (#{crid,jdbcType=VARCHAR}, #{chosenid,jdbcType=VARCHAR}, #{ajid,jdbcType=VARCHAR}, 
      #{pcr,jdbcType=VARCHAR}, #{pcsj,jdbcType=TIMESTAMP}, #{pcfs,jdbcType=VARCHAR}, 
      #{pczt,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{flag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdChosenRecords" >
    update bd_chosen_records
    set chosenid = #{chosenid,jdbcType=VARCHAR},
      ajid = #{ajid,jdbcType=VARCHAR},
      pcr = #{pcr,jdbcType=VARCHAR},
      pcsj = #{pcsj,jdbcType=TIMESTAMP},
      pcfs = #{pcfs,jdbcType=VARCHAR},
      pczt = #{pczt,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where crid = #{crid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select crid, chosenid, ajid, pcr, pcsj, pcfs, pczt, create_by, create_date, update_by, 
    update_date, remarks, flag
    from bd_chosen_records
    where crid = #{crid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdChosenRecords" >
    select crid, chosenid, ajid, pcr, pcsj, pcfs, pczt, create_by, create_date, update_by, 
    update_date, remarks, flag
    from bd_chosen_records
    where 1=1
    <if test="chosenid !=null and chosenid != '' ">
      and chosenid = #{chosenid}
    </if>
    <if test="ajid !=null and ajid != '' ">
      and ajid = #{ajid}
    </if>
    <if test="pcr !=null and pcr != '' ">
      and pcr = #{pcr}
    </if>
  </select>
</mapper>