<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdChosenGroupsMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdChosenGroups" >
    <id column="cgid" property="cgid" jdbcType="VARCHAR" />
    <result column="chosenid" property="chosenid" jdbcType="VARCHAR" />
    <result column="groupname" property="groupname" jdbcType="VARCHAR" />
    <result column="pcajs" property="pcajs" jdbcType="INTEGER" />
    <result column="zb" property="zb" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="teamleadername" property="teamleadername" jdbcType="VARCHAR" />
    <result column="teammatenames" property="teammatenames" jdbcType="VARCHAR" />
    <result column="teamleaderid" property="teamleaderid" jdbcType="VARCHAR" />
    <result column="teammateids" property="teammateids" jdbcType="VARCHAR" />
    <result column="tdcy" property="tdcy" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_chosen_groups
    where cgid = #{cgid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdChosenGroups" >
    insert into bd_chosen_groups (cgid, chosenid, groupname, 
      pcajs, zb, create_by, 
      create_date, update_by, update_date, 
      remarks, flag,tdcy)
    values (#{cgid,jdbcType=VARCHAR}, #{chosenid,jdbcType=VARCHAR}, #{groupname,jdbcType=VARCHAR}, 
      #{pcajs,jdbcType=INTEGER}, #{zb,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR},#{tdcy,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdChosenGroups" >
    update bd_chosen_groups
    set chosenid = #{chosenid,jdbcType=VARCHAR},
      groupname = #{groupname,jdbcType=VARCHAR},
      pcajs = #{pcajs,jdbcType=INTEGER},
      zb = #{zb,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      tdcy = #{tdcy,jdbcType=VARCHAR}
    where cgid = #{cgid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select tdcy,cgid, chosenid, groupname, pcajs, zb, create_by, date_format(create_date, '%Y/%m/%d') create_date, update_by, date_format(update_date, '%Y/%m/%d') update_date,
    remarks, flag,
    (select u.xm  from bd_chosen_pros t,sd_user u where t.proid =u.yhid and t.chosenid = a.chosenid and t.groupid = a.cgid and t.sfzz = '1' limit 1) teamleadername,
    (select GROUP_CONCAT(u.xm SEPARATOR ';') xm from bd_chosen_pros t,sd_user u where t.proid =u.yhid and t.chosenid = a.chosenid and t.groupid = a.cgid and t.sfzz != '1' GROUP BY t.groupid limit 1) teammatenames
    from bd_chosen_groups a
    where cgid = #{cgid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdChosenGroups" >
    select tdcy,cgid, chosenid, groupname, pcajs, zb, create_by, date_format(create_date, '%Y/%m/%d') create_date, update_by, date_format(update_date, '%Y/%m/%d') update_date,
    remarks, flag,
    (select u.xm  from bd_chosen_pros t,sd_user u where t.proid =u.yhid and t.chosenid = a.chosenid and t.groupid = a.cgid and t.sfzz = '1' limit 1) teamleadername,
    (select u.yhid  from bd_chosen_pros t,sd_user u where t.proid =u.yhid and t.chosenid = a.chosenid and t.groupid = a.cgid and t.sfzz = '1' limit 1) teamleaderid,
    (select GROUP_CONCAT(u.xm SEPARATOR ';') xm from bd_chosen_pros t,sd_user u where t.proid =u.yhid and t.chosenid = a.chosenid and t.groupid = a.cgid and t.sfzz != '1' GROUP BY t.groupid limit 1) teammatenames,
    (select GROUP_CONCAT(u.yhid SEPARATOR ';') xm from bd_chosen_pros t,sd_user u where t.proid =u.yhid and t.chosenid = a.chosenid and t.groupid = a.cgid and t.sfzz != '1' GROUP BY t.groupid limit 1) teammateids
    from bd_chosen_groups a
    where 1=1
    <if test="chosenid !=null and chosenid != '' ">
      and a.chosenid = #{chosenid}
    </if>
    order by a.create_date desc
  </select>
  <update id="recalcGroup" parameterType="java.lang.String">
    update bd_chosen_groups t
    set
    zb = concat((select count(1) from bd_chosen_cases c where c.chosenid = t.chosenid and c.psgroupid = t.cgid) / (select count(1) from bd_chosen_cases c where c.chosenid = t.chosenid and c.psgroupid is not null) * 100 ,'%')
    ,pcajs = (select count(1) from bd_chosen_cases c where c.chosenid = t.chosenid and c.psgroupid = t.cgid)
    where chosenid =  #{chosenid}
  </update>
</mapper>