<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdCheckCasesMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdCheckCases" >
    <id column="ccid" property="ccid" jdbcType="VARCHAR" />
    <id column="keyid" property="keyid" jdbcType="VARCHAR" />
    <result column="checkid" property="checkid" jdbcType="VARCHAR" />
    <result column="ajid" property="ajid" jdbcType="VARCHAR" />
    <result column="psgroupid" property="psgroupid" jdbcType="VARCHAR" />
    <result column="jydp" property="jydp" jdbcType="VARCHAR" />
    <result column="zzpcdf" property="zzpcdf" jdbcType="VARCHAR" />
    <result column="zzzldj" property="zzzldj" jdbcType="VARCHAR" />
    <result column="dpr" property="dpr" jdbcType="VARCHAR" />
    <result column="dpsj" property="dpsj" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="ggmc" property="ggmc" jdbcType="VARCHAR" />
    <result column="teamleadername" property="teamleadername" jdbcType="VARCHAR" />
    <result column="teammatenames" property="teammatenames" jdbcType="VARCHAR" />
    <result column="ah" property="ah" jdbcType="VARCHAR" />
    <result column="gsfy" property="gsfy" jdbcType="VARCHAR" />
    <result column="cbbm" property="cbbm" jdbcType="VARCHAR" />
    <result column="cbr" property="cbr" jdbcType="VARCHAR" />
    <result column="xz" property="xz" jdbcType="VARCHAR" />
    <result column="ay" property="ay" jdbcType="VARCHAR" />
    <result column="jafs" property="jafs" jdbcType="VARCHAR" />
    <result column="jasj" property="jasj" jdbcType="TIMESTAMP" />
    <result column="lx" property="lx" jdbcType="VARCHAR" />
    <result column="relatedcasecount" property="relatedcasecount" jdbcType="VARCHAR" />
    <result column="pcjl" property="pcjl" jdbcType="VARCHAR" />
    <result column="bt" property="bt" jdbcType="VARCHAR" />
    <result column="fqrmc" property="fqrmc" jdbcType="VARCHAR" />
    <result column="fqsj" property="fqsj" jdbcType="VARCHAR" />
    <result column="pclx" property="pclx" jdbcType="VARCHAR" />
    <result column="pcrw" property="pcrw" jdbcType="VARCHAR" />
    <result column="sfzz" property="sfzz" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_check_cases
    where ccid = #{ccid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckCases" >
    insert into bd_check_cases (ccid, checkid, ajid, 
      psgroupid, jydp, zzpcdf, 
      zzzldj, dpr, dpsj, 
      create_by, create_date, update_by, 
      update_date, remarks, flag
      )
    values (#{ccid,jdbcType=VARCHAR}, #{checkid,jdbcType=VARCHAR}, #{ajid,jdbcType=VARCHAR}, 
      #{psgroupid,jdbcType=VARCHAR}, #{jydp,jdbcType=VARCHAR}, #{zzpcdf,jdbcType=VARCHAR}, 
      #{zzzldj,jdbcType=VARCHAR}, #{dpr,jdbcType=VARCHAR}, #{dpsj,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, now(), #{updateBy,jdbcType=VARCHAR},
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckCases" >
    update bd_check_cases
    set checkid = #{checkid,jdbcType=VARCHAR},
      ajid = #{ajid,jdbcType=VARCHAR},
      psgroupid = #{psgroupid,jdbcType=VARCHAR},
      jydp = #{jydp,jdbcType=VARCHAR},
      zzpcdf = #{zzpcdf,jdbcType=VARCHAR},
      zzzldj = #{zzzldj,jdbcType=VARCHAR},
      dpr = #{dpr,jdbcType=VARCHAR},
      dpsj = #{dpsj,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where ccid = #{ccid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select b.bt,date_format(b.fqsj, '%Y/%m/%d') fqsj,b.pclx, b.pcrw,fn_get_username(b.fqr) fqrmc
    ,a.ccid, a.checkid, a.ajid, a.psgroupid, a.jydp, a.zzpcdf, a.zzzldj,a.dpr,date_format(a.dpsj, '%Y/%m/%d') dpsj, a.create_by,
    date_format(a.create_date, '%Y/%m/%d') create_date, a.update_by, date_format(a.update_date, '%Y/%m/%d') update_date, a.remarks, a.flag,
    b.bt ggmc,
    (select u.xm  from bd_check_pros t,sd_user u where t.proid =u.yhid and t.checkid = a.checkid and t.groupid = a.psgroupid and t.sfzz = '1' limit 1) teamleadername,
    (select GROUP_CONCAT(u.xm SEPARATOR ';') xm from bd_check_pros t,sd_user u where t.proid =u.yhid and t.checkid = a.checkid and t.groupid = a.psgroupid and t.sfzz != '1' GROUP BY t.groupid limit 1) teammatenames
    ,c.ah,c.gsfy,c.cbbm,c.cbr,c.ay,c.xz,c.lx,c.jafs,DATE_FORMAT(c.jasj, '%Y/%m/%d') jasj,c.relatedcasecount,(select count(1) from bd_check_cases x where x.ajid = a.ajid and x.jydp is not null) pcjl
    from bd_check_cases a,bd_check b,bd_middle_case c,sd_user u,bd_check_groups g where a.checkid = b.checkid and a.ajid = c.ajid and b.fqr = u.yhid and a.psgroupid = g.cgid
    and a.ccid = #{ccid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckCases" >
    select b.bt,date_format(b.fqsj, '%Y/%m/%d') fqsj,b.pclx, b.pcrw,fn_get_username(b.fqr) fqrmc
    ,a.ccid, a.checkid, a.ajid, a.psgroupid, a.jydp, a.zzpcdf, a.zzzldj,a.dpr,date_format(a.dpsj, '%Y/%m/%d') dpsj, a.create_by,
    date_format(a.create_date, '%Y/%m/%d') create_date, a.update_by, date_format(a.update_date, '%Y/%m/%d') update_date, a.remarks, a.flag,
    b.bt ggmc,
    (select u.xm  from bd_check_pros t,sd_user u where t.proid =u.yhid and t.checkid = a.checkid and t.groupid = a.psgroupid and t.sfzz = '1' limit 1) teamleadername,
    (select GROUP_CONCAT(u.xm SEPARATOR ';') xm from bd_check_pros t,sd_user u where t.proid =u.yhid and t.checkid = a.checkid and t.groupid = a.psgroupid and t.sfzz != '1' GROUP BY t.groupid limit 1) teammatenames
    ,c.ah,c.gsfy,c.cbbm,c.cbr,c.ay,c.xz,c.lx,c.jafs,DATE_FORMAT(c.jasj, '%Y/%m/%d') jasj,c.relatedcasecount,(select count(1) from bd_check_cases x where x.ajid = a.ajid and x.jydp is not null) pcjl
    from bd_check_cases a,bd_check b,bd_middle_case c,sd_user u,bd_check_groups g where a.checkid = b.checkid and a.ajid = c.ajid and b.fqr = u.yhid and a.psgroupid = g.cgid
    <if test="ajid !=null and ajid != '' ">
      and a.ajid = #{ajid}
    </if>
    <if test="checkid !=null and checkid != '' ">
      and a.checkid = #{checkid}
    </if>
    <if test="ischecked !=null and ischecked != '' ">
      and a.jydp is not null
    </if>
    <if test="gsfy !=null and gsfy != '' ">
      and c.gsfy like concat('%',#{gsfy},'%')
    </if>
    <if test="cbbm !=null and cbbm != '' ">
      and c.cbbm like concat('%',#{cbbm},'%')
    </if>
    <if test="cbr !=null and cbr != '' ">
      and c.cbr like concat('%',#{cbr},'%')
    </if>
    <if test="ah !=null and ah != '' ">
      and c.ah like concat('%',#{ah},'%')
    </if>
    <if test="xz !=null and xz != '' ">
      and c.xz = #{xz}
    </if>
    <if test="lx !=null and lx != '' ">
      and c.lx = #{lx}
    </if>
    <if test="psgroupid !=null and psgroupid != '' ">
      and a.psgroupid = #{psgroupid}
    </if>
    <if test="fqr !=null and fqr != '' ">
      and b.fqr = #{fqr}
    </if>
    <if test="bt !=null and bt != '' ">
      and b.bt like concat('%',#{bt},'%')
    </if>
    <if test="pclx !=null and pclx != '' ">
      and b.pclx = #{pclx}
    </if>
    <if test="pcrw !=null and pcrw != '' ">
      and b.pcrw = #{pcrw}
    </if>
    <if test="fqrmc !=null and fqrmc != '' ">
      and u.xm like concat('%',#{fqrmc},'%')
    </if>
    <if test="tdcy !=null and tdcy != '' ">
      and g.tdcy like concat('%',#{tdcy},'%')
    </if>

    <if test="fqsj1 != null and fqsj1 != '' ">
      and date_format(b.fqsj, '%Y/%m/%d') &gt;= #{fqsj1}
    </if>
    <if test="fqsj2 != null and fqsj2 != '' ">
      and date_format(b.fqsj, '%Y/%m/%d') &lt;= #{fqsj2}
    </if>
    order by b.bt asc ,a.zzpcdf desc, a.create_date desc
  </select>

  <select id="selectWork" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckCases" >
    select CONCAT(a.ccid,p.cpid) keyid,p.sfzz,b.bt,date_format(b.fqsj, '%Y/%m/%d') fqsj,b.pclx, b.pcrw,fn_get_username(b.fqr) fqrmc
        ,a.ccid, a.checkid, a.ajid, a.psgroupid, a.jydp, a.zzpcdf, a.zzzldj,a.dpr,date_format(a.dpsj, '%Y/%m/%d') dpsj, a.create_by,
        date_format(a.create_date, '%Y/%m/%d') create_date, a.update_by, date_format(a.update_date, '%Y/%m/%d') update_date, a.remarks, a.flag,
        b.bt ggmc,
        (select u.xm  from bd_check_pros t,sd_user u where t.proid =u.yhid and t.checkid = a.checkid and t.groupid = a.psgroupid and t.sfzz = '1' limit 1) teamleadername,
        (select GROUP_CONCAT(u.xm SEPARATOR ';') xm from bd_check_pros t,sd_user u where t.proid =u.yhid and t.checkid = a.checkid and t.groupid = a.psgroupid and t.sfzz != '1' GROUP BY t.groupid limit 1) teammatenames
        ,c.ah,c.gsfy,c.cbbm,c.cbr,c.ay,c.xz,c.lx,c.jafs,DATE_FORMAT(c.jasj, '%Y/%m/%d') jasj,c.relatedcasecount,(select count(1) from bd_check_cases x where x.ajid = a.ajid and x.jydp is not null) pcjl
    from bd_check_cases a
    left join bd_check b on a.checkid = b.checkid
    left join bd_middle_case c on a.ajid = c.ajid
    left join bd_check_pros p on a.psgroupid = p.groupid and a.checkid = p.checkid
    left join bd_check_records r on r.checkid = a.checkid and r.ajid = a.ajid and r.pcr = p.proid
    left join sd_user u on b.fqr = u.yhid
    where b.zt = '1'
    <if test="proid !=null and proid != '' ">
      and p.proid = #{proid}
    </if>
    <if test="bt !=null and bt != '' ">
      and b.bt like concat('%',#{bt},'%')
    </if>
    <if test="pclx !=null and pclx != '' ">
      and b.pclx = #{pclx}
    </if>
    <if test="pcrw !=null and pcrw != '' ">
      and b.pcrw = #{pcrw}
    </if>
    <if test="fqrmc !=null and fqrmc != '' ">
      and u.xm like concat('%',#{fqrmc},'%')
    </if>
    <if test="fqsj1 != null and fqsj1 != '' ">
      and date_format(b.fqsj, '%Y/%m/%d') &gt;= #{fqsj1}
    </if>
    <if test="fqsj2 != null and fqsj2 != '' ">
      and date_format(b.fqsj, '%Y/%m/%d') &lt;= #{fqsj2}
    </if>
    <if test='tasktype == "1" '>
      and ((p.sfzz = '1' and a.jydp is null) or (r.pczt is null or r.pczt = '1'))
    </if>
    <if test='tasktype == "2" '>
      and r.pczt = '2'
    </if>

    order by b.bt asc , a.create_date desc

  </select>


  <select id="selectTop" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckCases" >
    select
    b.bt,date_format(b.fqsj, '%Y/%m/%d') fqsj,b.pclx, b.pcrw,fn_get_username(b.fqr) fqrmc,
    a.checkid, a.ajid, a.psgroupid, a.jydp, a.zzpcdf, a.zzzldj,a.dpr,date_format(a.dpsj, '%Y/%m/%d') dpsj, a.create_by,
    date_format(a.create_date, '%Y/%m/%d') create_date, a.update_by, date_format(a.update_date, '%Y/%m/%d') update_date, a.remarks, a.flag,
    (select u.xm  from bd_check_pros t,sd_user u where t.proid =u.yhid and t.checkid = a.checkid and t.groupid = a.psgroupid and t.sfzz = '1' limit 1) teamleadername,
    (select GROUP_CONCAT(u.xm SEPARATOR ';') xm from bd_check_pros t,sd_user u where t.proid =u.yhid and t.checkid = a.checkid and t.groupid = a.psgroupid and t.sfzz != '1' GROUP BY t.groupid limit 1) teammatenames,
    c.ah,c.gsfy,c.cbbm,c.cbr,c.ay,c.xz,c.lx,c.jafs,DATE_FORMAT(c.jasj, '%Y/%m/%d') jasj
    from bd_check_cases a , bd_check b ,bd_middle_case c where a.checkid = b.checkid and a.ajid = c.ajid

    <if test="fqsj1 != null and fqsj1 != '' ">
      and date_format(b.fqsj, '%Y/%m/%d') &gt;= #{fqsj1}
    </if>
    <if test="fqsj2 != null and fqsj2 != '' ">
      and date_format(b.fqsj, '%Y/%m/%d') &lt;= #{fqsj2}
    </if>

    order by a.zzpcdf desc , a.create_date desc

  </select>

  <select id="selectReportXzByGGID" resultType="map" parameterType="java.lang.String" >
    select
    zzjgid,zzjgmc,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c1.xz='刑事') c1 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c1.xz='民事') c2 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c1.xz='行政') c3 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c1.xz='赔偿') c4 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c1.xz='执行') c5 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc) c6 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c.zzzldj='优秀') c7,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c.zzzldj='合格') c8,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c.zzzldj='瑕疵') c9,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c.zzzldj='差错') c10
    from sd_organization a order by fjm
  </select>

  <select id="selectReportLxByGGID" resultType="map" parameterType="java.lang.String" >
    select
    zzjgid,zzjgmc,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c1.lx='抗诉') c1 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c1.lx='发回改判') c2 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c1.lx='再审') c3 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c1.lx='审理周期一年半以上') c4 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c1.lx='执行异议复议') c5 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc) c6 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c.zzzldj='优秀') c7,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c.zzzldj='合格') c8,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c.zzzldj='瑕疵') c9,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid and c.checkid = #{ggid} and c1.gsfy = a.zzjgmc and c.zzzldj='差错') c10
    from sd_organization a order by fjm
  </select>

  <select id="selectReportXz" resultType="map" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckCases" >
    select
    zzjgid,zzjgmc,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') &gt;= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c1.xz='刑事') c1 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c1.xz='民事') c2 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c1.xz='行政') c3 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c1.xz='赔偿') c4 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c1.xz='执行') c5 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc ) c6 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c.zzzldj='优秀') c7,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c.zzzldj='合格') c8,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c.zzzldj='瑕疵') c9,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c.zzzldj='差错') c10
    from sd_organization a order by fjm
  </select>
  <select id="selectReportLx" resultType="map" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckCases" >
    select
    zzjgid,zzjgmc,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') &gt;= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c1.lx='抗诉') c1 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c1.lx='发回改判') c2 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c1.lx='再审') c3 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c1.lx='审理周期一年半以上') c4 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c1.lx='执行异议复议') c5 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc ) c6 ,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c.zzzldj='优秀') c7,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c.zzzldj='合格') c8,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c.zzzldj='瑕疵') c9,
    (select count(1) from bd_check_cases c,bd_middle_case c1 where c.ajid = c1.ajid <if test="fqsj1 != null and fqsj1 != '' "> and date_format(c.create_date, '%Y/%m/%d') >= #{fqsj1} and date_format(c.create_date, '%Y/%m/%d') &lt;= #{fqsj2}</if> and c1.gsfy = a.zzjgmc and c.zzzldj='差错') c10
    from sd_organization a order by fjm
  </select>

  <select id="selectQuality" resultType="map" parameterType="java.lang.String">
    select
    itemid,
    (select psnr from bd_scoretable_items x where x.itemid = a.itemid) psnr,
    (select pfbz from bd_scoretable_items x where x.itemid = a.itemid) pfbz,
    (select fz from bd_scoretable_items x where x.itemid = a.itemid) fz,
    count(1) kfaj,sum(kf) ljkf,sum(kf)/count(1) pjkf
    from bd_check_score a , bd_check_records r where a.crid = r.crid and r.checkid = #{ggid} group by itemid
    order by sum(kf) desc
  </select>
</mapper>