<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdChosenCasesMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdChosenCases" >
    <id column="ccid" property="ccid" jdbcType="VARCHAR" />
    <result column="chosenid" property="chosenid" jdbcType="VARCHAR" />
    <result column="ajid" property="ajid" jdbcType="VARCHAR" />
    <result column="psgroupid" property="psgroupid" jdbcType="VARCHAR" />
    <result column="jydp" property="jydp" jdbcType="VARCHAR" />
    <result column="zzpxdf" property="zzpxdf" jdbcType="VARCHAR" />
    <result column="dpr" property="dpr" jdbcType="VARCHAR" />
    <result column="dpsj" property="dpsj" jdbcType="TIMESTAMP" />
    <result column="tjly" property="tjly" jdbcType="VARCHAR" />
    <result column="tbrq" property="tbrq" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_chosen_cases
    where ccid = #{ccid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdChosenCases" >
    insert into bd_chosen_cases (ccid, chosenid, ajid, 
      psgroupid, jydp, zzpxdf, 
      dpr, dpsj, tjly, 
      tbrq, create_by, create_date, 
      update_by, update_date, remarks, 
      flag)
    values (#{ccid,jdbcType=VARCHAR}, #{chosenid,jdbcType=VARCHAR}, #{ajid,jdbcType=VARCHAR}, 
      #{psgroupid,jdbcType=VARCHAR}, #{jydp,jdbcType=VARCHAR}, #{zzpxdf,jdbcType=VARCHAR}, 
      #{dpr,jdbcType=VARCHAR}, #{dpsj,jdbcType=TIMESTAMP}, #{tjly,jdbcType=VARCHAR}, 
      #{tbrq,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{flag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdChosenCases" >
    update bd_chosen_cases
    set chosenid = #{chosenid,jdbcType=VARCHAR},
      ajid = #{ajid,jdbcType=VARCHAR},
      psgroupid = #{psgroupid,jdbcType=VARCHAR},
      jydp = #{jydp,jdbcType=VARCHAR},
      zzpxdf = #{zzpxdf,jdbcType=VARCHAR},
      dpr = #{dpr,jdbcType=VARCHAR},
      dpsj = #{dpsj,jdbcType=TIMESTAMP},
      tjly = #{tjly,jdbcType=VARCHAR},
      tbrq = #{tbrq,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where ccid = #{ccid,jdbcType=VARCHAR}
  </update>

  <update id="setGroupNull" parameterType="java.lang.String" >
      update bd_chosen_cases set psgroupid = null where psgroupid = #{groupid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select date_format(a.tbrq, '%Y/%m/%d') tbrq,a.tjly,b.bt,date_format(b.fqsj, '%Y/%m/%d') fqsj,b.pclx,fn_get_username(b.fqr) fqrmc
    ,a.ccid, a.chosenid, a.ajid, a.psgroupid, a.jydp, a.zzpxdf,a.dpr,date_format(a.dpsj, '%Y/%m/%d') dpsj, a.create_by,
    date_format(a.create_date, '%Y/%m/%d') create_date, a.update_by, date_format(a.update_date, '%Y/%m/%d') update_date, a.remarks, a.flag,
    (select u.xm  from bd_chosen_pros t,sd_user u where t.proid =u.yhid and t.chosenid = a.chosenid and t.groupid = a.psgroupid and t.sfzz = '1' limit 1) teamleadername,
    (select GROUP_CONCAT(u.xm SEPARATOR ';') xm from bd_chosen_pros t,sd_user u where t.proid =u.yhid and t.chosenid = a.chosenid and t.groupid = a.psgroupid and t.sfzz != '1' GROUP BY t.groupid limit 1) teammatenames
    ,c.ah,c.gsfy,c.cbbm,c.cbr,c.ay,c.xz,c.lx,c.jafs,DATE_FORMAT(c.jasj, '%Y/%m/%d') jasj,c.relatedcasecount,(select count(1) from bd_chosen_cases x where x.ajid = a.ajid and x.jydp is not null) pcjl
    from bd_chosen_cases a,bd_chosen b,bd_middle_case c,sd_user u,bd_chosen_groups g where a.chosenid = b.chosenid and a.ajid = c.ajid and b.fqr = u.yhid and a.psgroupid = g.cgid
    where a.ccid = #{ccid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdChosenCases" >
    select date_format(a.tbrq, '%Y/%m/%d') tbrq,a.tjly,b.bt,date_format(b.fqsj, '%Y/%m/%d') fqsj,b.pclx,fn_get_username(b.fqr) fqrmc
    ,a.ccid, a.chosenid, a.ajid, a.psgroupid, a.jydp, a.zzpxdf,a.dpr,date_format(a.dpsj, '%Y/%m/%d') dpsj, a.create_by,
    date_format(a.create_date, '%Y/%m/%d') create_date, a.update_by, date_format(a.update_date, '%Y/%m/%d') update_date, a.remarks, a.flag,
    (select u.xm  from bd_chosen_pros t,sd_user u where t.proid =u.yhid and t.chosenid = a.chosenid and t.groupid = a.psgroupid and t.sfzz = '1' limit 1) teamleadername,
    (select GROUP_CONCAT(u.xm SEPARATOR ';') xm from bd_chosen_pros t,sd_user u where t.proid =u.yhid and t.chosenid = a.chosenid and t.groupid = a.psgroupid and t.sfzz != '1' GROUP BY t.groupid limit 1) teammatenames
    ,c.ah,c.gsfy,c.cbbm,c.cbr,c.ay,c.xz,c.lx,c.jafs,DATE_FORMAT(c.jasj, '%Y/%m/%d') jasj,c.relatedcasecount,(select count(1) from bd_chosen_cases x where x.ajid = a.ajid and x.jydp is not null) pcjl
    from bd_chosen_cases a,bd_chosen b,bd_middle_case c,sd_user u
    <if test="tdcy !=null and tdcy != '' ">
      ,bd_chosen_groups g
    </if>
     where a.chosenid = b.chosenid and a.ajid = c.ajid and b.fqr = u.yhid
    <if test="tdcy !=null and tdcy != '' ">
      and a.psgroupid = g.cgid
    </if>

    <if test="ajid !=null and ajid != '' ">
      and a.ajid = #{ajid}
    </if>
    <if test="chosenid !=null and chosenid != '' ">
      and a.chosenid = #{chosenid}
    </if>
    <if test="ischecked !=null and ischecked != '' ">
      and a.jydp is not null
    </if>
    <if test="gsfy !=null and gsfy != '' ">
      and c.gsfy like concat('%',#{gsfy},'%')
    </if>
    <if test="cbbm !=null and cbbm != '' ">
      and c.cbbm like concat('%',#{cbbm},'%')
    </if>
    <if test="cbr !=null and cbr != '' ">
      and c.cbr like concat('%',#{cbr},'%')
    </if>
    <if test="ah !=null and ah != '' ">
      and c.ah like concat('%',#{ah},'%')
    </if>
    <if test="xz !=null and xz != '' ">
      and c.xz = #{xz}
    </if>
    <if test="lx !=null and lx != '' ">
      and c.lx = #{lx}
    </if>
    <if test="psgroupid !=null and psgroupid != '' ">
      and a.psgroupid = #{psgroupid}
    </if>
    <if test="fqr !=null and fqr != '' ">
      and b.fqr = #{fqr}
    </if>
    <if test="bt !=null and bt != '' ">
      and b.bt like concat('%',#{bt},'%')
    </if>
    <if test="pclx !=null and pclx != '' ">
      and b.pclx = #{pclx}
    </if>
    <if test="createBy !=null and createBy != '' ">
      and a.create_by = #{createBy}
    </if>
    <if test="fqrmc !=null and fqrmc != '' ">
      and u.xm like concat('%',#{fqrmc},'%')
    </if>
    <if test="tdcy !=null and tdcy != '' ">
      and g.tdcy like concat('%',#{tdcy},'%')
    </if>

    <if test="fqsj1 != null and fqsj1 != '' ">
      and date_format(b.fqsj, '%Y/%m/%d') &gt;= #{fqsj1}
    </if>
    <if test="fqsj2 != null and fqsj2 != '' ">
      and date_format(b.fqsj, '%Y/%m/%d') &lt;= #{fqsj2}
    </if>

    <if test="tbrq1 != null and tbrq1 != '' ">
      and date_format(a.tbrq, '%Y/%m/%d') &gt;= #{tbrq1}
    </if>
    <if test="tbrq2 != null and tbrq2 != '' ">
      and date_format(a.tbrq, '%Y/%m/%d') &lt;= #{tbrq2}
    </if>
    <if test="remarks !=null and remarks != '' ">
      and a.psgroupid is null
    </if>

    order by b.bt asc , a.create_date desc
  </select>
</mapper>