<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdCheckGroupsMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdCheckGroups" >
    <id column="cgid" property="cgid" jdbcType="VARCHAR" />
    <result column="checkid" property="checkid" jdbcType="VARCHAR" />
    <result column="groupname" property="groupname" jdbcType="VARCHAR" />
    <result column="pcajs" property="pcajs" jdbcType="INTEGER" />
    <result column="zb" property="zb" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_check_groups
    where cgid = #{cgid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckGroups" >
    insert into bd_check_groups (cgid, checkid, groupname, 
      pcajs, zb, create_by, 
      create_date, update_by, update_date, 
      remarks, flag)
    values (#{cgid,jdbcType=VARCHAR}, #{checkid,jdbcType=VARCHAR}, #{groupname,jdbcType=VARCHAR}, 
      #{pcajs,jdbcType=INTEGER}, #{zb,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckGroups" >
    update bd_check_groups
    set checkid = #{checkid,jdbcType=VARCHAR},
      groupname = #{groupname,jdbcType=VARCHAR},
      pcajs = #{pcajs,jdbcType=INTEGER},
      zb = #{zb,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where cgid = #{cgid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select cgid, checkid, groupname, pcajs, zb, create_by, date_format(create_date, '%Y/%m/%d') create_date, update_by,date_format(update_date, '%Y/%m/%d') update_date,
    remarks, flag
    from bd_check_groups
    where cgid = #{cgid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckGroups">
    select cgid, checkid, groupname, pcajs, zb, create_by, date_format(create_date, '%Y/%m/%d') create_date, update_by,date_format(update_date, '%Y/%m/%d') update_date,
    remarks, flag
    from bd_check_groups
  </select>
</mapper>