<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdCheckDistributionMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdCheckDistribution" >
    <id column="cdid" property="cdid" jdbcType="VARCHAR" />
    <result column="checkid" property="checkid" jdbcType="VARCHAR" />
    <result column="fbxmc" property="fbxmc" jdbcType="VARCHAR" />
    <result column="fbxlx" property="fbxlx" jdbcType="VARCHAR" />
    <result column="fbx" property="fbx" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_check_distribution
    where cdid = #{cdid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckDistribution" >
    insert into bd_check_distribution (cdid, checkid, fbxmc, 
      fbxlx, fbx, create_by, 
      create_date, update_by, update_date, 
      remarks, flag)
    values (#{cdid,jdbcType=VARCHAR}, #{checkid,jdbcType=VARCHAR}, #{fbxmc,jdbcType=VARCHAR}, 
      #{fbxlx,jdbcType=VARCHAR}, #{fbx,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckDistribution" >
    update bd_check_distribution
    set checkid = #{checkid,jdbcType=VARCHAR},
      fbxmc = #{fbxmc,jdbcType=VARCHAR},
      fbxlx = #{fbxlx,jdbcType=VARCHAR},
      fbx = #{fbx,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where cdid = #{cdid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select cdid, checkid, fbxmc, fbxlx, fbx, create_by, date_format(create_date, '%Y/%m/%d') create_date, update_by, date_format(update_date, '%Y/%m/%d') update_date,
    remarks, flag
    from bd_check_distribution
    where cdid = #{cdid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckDistribution" >
    select cdid, checkid, fbxmc, fbxlx, fbx, create_by, date_format(create_date, '%Y/%m/%d') create_date, update_by, date_format(update_date, '%Y/%m/%d') update_date,
    remarks, flag
    from bd_check_distribution
    where 1=1
    <if test="checkid !=null and checkid != '' ">
      and checkid = #{checkid}
    </if>
    <if test="fbxlx !=null and fbxlx != '' ">
      and fbxlx = #{fbxlx}
    </if>
    order by create_date desc
  </select>


  <select id="selectChosenByXz" resultMap="BaseResultMap" parameterType="java.lang.String" >
  select CONCAT(xz,' - 被抽中',count(xz),'条 - 占比',count(xz)/(select count(0) from bd_chosen_cases t where t.chosenid = #{ggid})*100,'%' ) fbxmc,xz fbx from bd_chosen_cases a left join bd_middle_case b on a.ajid = b.ajid where  a.chosenid = #{ggid}  group by b.xz
  </select>

  <select id="selectChosenByGsfy" resultMap="BaseResultMap" parameterType="java.lang.String" >
  select CONCAT(gsfy,' - 被抽中',count(gsfy),'条 - 占比',count(gsfy)/(select count(0) from bd_chosen_cases t where t.chosenid = #{ggid})*100,'%' ) fbxmc,gsfy fbx from bd_chosen_cases a left join bd_middle_case b on a.ajid = b.ajid where  a.chosenid = #{ggid}  group by b.gsfy
  </select>

</mapper>