<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdChosenMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdChosen" >
    <id column="chosenid" property="chosenid" jdbcType="VARCHAR" />
    <result column="bt" property="bt" jdbcType="VARCHAR" />
    <result column="btys" property="btys" jdbcType="VARCHAR" />
    <result column="pclx" property="pclx" jdbcType="VARCHAR" />
    <result column="pfb" property="pfb" jdbcType="VARCHAR" />
    <result column="pfbmc" property="pfbmc" jdbcType="VARCHAR" />
    <result column="fqr" property="fqr" jdbcType="VARCHAR" />
    <result column="fqrmc" property="fqrmc" jdbcType="VARCHAR" />
    <result column="fqsj" property="fqsj" jdbcType="TIMESTAMP" />
    <result column="shr" property="shr" jdbcType="VARCHAR" />
    <result column="shrmc" property="shrmc" jdbcType="VARCHAR" />
    <result column="shsj" property="shsj" jdbcType="TIMESTAMP" />
    <result column="shyj" property="shyj" jdbcType="VARCHAR" />
    <result column="zt" property="zt" jdbcType="VARCHAR" />
    <result column="jzrq" property="jzrq" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="nr" property="nr" jdbcType="LONGVARCHAR" />
    <result column="orgname" property="orgname" jdbcType="VARCHAR" />
    <result column="sfyd" property="sfyd" jdbcType="VARCHAR" />
    <result column="msgtonames" property="msgtonames" jdbcType="VARCHAR" />
    <result column="ytbajs" property="ytbajs" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_chosen
    where chosenid = #{chosenid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdChosen" >
    insert into bd_chosen (chosenid, bt, btys, 
      pclx, pfb, fqr, fqsj, 
      shr, shsj, shyj, 
      zt, jzrq, create_by, 
      create_date, update_by, update_date, 
      remarks, flag, nr
      )
    values (#{chosenid,jdbcType=VARCHAR}, #{bt,jdbcType=VARCHAR}, #{btys,jdbcType=VARCHAR}, 
      #{pclx,jdbcType=VARCHAR}, #{pfb,jdbcType=VARCHAR}, #{fqr,jdbcType=VARCHAR}, #{fqsj,jdbcType=TIMESTAMP}, 
      #{shr,jdbcType=VARCHAR}, #{shsj,jdbcType=TIMESTAMP}, #{shyj,jdbcType=VARCHAR}, 
      #{zt,jdbcType=VARCHAR}, #{jzrq,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, #{nr,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdChosen" >
    update bd_chosen
    set bt = #{bt,jdbcType=VARCHAR},
      btys = #{btys,jdbcType=VARCHAR},
      pclx = #{pclx,jdbcType=VARCHAR},
      pfb = #{pfb,jdbcType=VARCHAR},
      fqr = #{fqr,jdbcType=VARCHAR},
      fqsj = #{fqsj,jdbcType=TIMESTAMP},
      shr = #{shr,jdbcType=VARCHAR},
      shsj = #{shsj,jdbcType=TIMESTAMP},
      shyj = #{shyj,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=VARCHAR},
      jzrq = #{jzrq,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      nr = #{nr,jdbcType=LONGVARCHAR}
    where chosenid = #{chosenid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select t.chosenid, t.bt, t.btys, t.pclx, t.pfb,date_format(t.jzrq, '%Y/%m/%d')  jzrq,
    (select a.mbmc from bd_scoretables a where a.tableid = t.pfb limit 1) pfbmc,
    t.fqr,fn_get_username(t.fqr) fqrmc,
    (select oi.zzjgmc from sd_user us,sd_organization oi where us.zzid = oi.zzjgid and us.yhid =t.fqr limit 1) orgname,
    date_format(t.fqsj, '%Y/%m/%d') fqsj, shr,fn_get_username(shr) shrmc, date_format(shsj, '%Y/%m/%d') shsj, t.shyj, t.zt, t.create_by,
    date_format(t.create_date, '%Y/%m/%d') create_date, t.update_by, date_format(t.update_date, '%Y/%m/%d') update_date, t.remarks, t.flag, t.nr
    ,(select count(1) from bd_chosen_read x where x.readman=#{userid} and x.chosenid = t.chosenid)  sfyd,
    (select GROUP_CONCAT(m.proname SEPARATOR ';') xm from bd_chosen_msgto m where m.chosenid = t.chosenid group by m.chosenid limit 1) msgtonames
    ,(select count(1) from bd_chosen_cases x where x.chosenid = t.chosenid) ytbajs
    from bd_chosen t,sd_user u
    where t.fqr = u.yhid
    and chosenid = #{chosenid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdChosen">
    select t.chosenid, t.bt, t.btys, t.pclx, t.pfb,date_format(t.jzrq, '%Y/%m/%d')  jzrq,
    (select a.mbmc from bd_scoretables a where a.tableid = t.pfb limit 1) pfbmc,
    t.fqr,fn_get_username(t.fqr) fqrmc,
    (select oi.zzjgmc from sd_user us,sd_organization oi where us.zzid = oi.zzjgid and us.yhid =t.fqr limit 1) orgname,
    date_format(t.fqsj, '%Y/%m/%d') fqsj, shr,fn_get_username(shr) shrmc, date_format(shsj, '%Y/%m/%d') shsj, t.shyj, t.zt, t.create_by,
    date_format(t.create_date, '%Y/%m/%d') create_date, t.update_by, date_format(t.update_date, '%Y/%m/%d') update_date, t.remarks, t.flag, t.nr
    ,(select count(1) from bd_chosen_read x where x.readman=#{userid} and x.chosenid = t.chosenid)  sfyd,
    (select GROUP_CONCAT(m.proname SEPARATOR ';') xm from bd_chosen_msgto m where m.chosenid = t.chosenid group by m.chosenid limit 1) msgtonames
    ,(select count(1) from bd_chosen_cases x where x.chosenid = t.chosenid) ytbajs
    from bd_chosen t,sd_user u
    where t.fqr = u.yhid
    <if test="zt != null and zt != '' ">
      and t.zt = #{zt}
    </if>
    <if test="shrmc != null and shrmc != '' ">
      and t.shr = #{shrmc}
    </if>
    <if test="pclx != null and pclx != '' ">
      and t.pclx = #{pclx}
    </if>
    <if test="bt != null and bt != '' ">
      and t.bt like concat('%',#{bt},'%')
    </if>
    <if test="fqrmc != null and fqrmc != '' ">
      and u.xm like concat('%',#{fqrmc},'%')
    </if>
    <if test="fqsj1 != null and fqsj1 != '' ">
      and date_format(t.fqsj, '%Y/%m/%d') &gt;= #{fqsj1}
    </if>
    <if test="fqsj2 != null and fqsj2 != '' ">
      and date_format(t.fqsj, '%Y/%m/%d') &lt;= #{fqsj2}
    </if>

    order by create_date desc
  </select>
</mapper>