<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdCheckReadMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdCheckRead" >
    <id column="readid" property="readid" jdbcType="VARCHAR" />
    <result column="readman" property="readman" jdbcType="VARCHAR" />
    <result column="readtime" property="readtime" jdbcType="TIMESTAMP" />
    <result column="checkid" property="checkid" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_check_read
    where readid = #{readid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckRead" >
    insert into bd_check_read (readid, readman, readtime, 
      checkid, create_by, create_date, 
      update_by, update_date, remarks, 
      flag)
    values (#{readid,jdbcType=VARCHAR}, #{readman,jdbcType=VARCHAR}, #{readtime,jdbcType=TIMESTAMP}, 
      #{checkid,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{flag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckRead" >
    update bd_check_read
    set readman = #{readman,jdbcType=VARCHAR},
      readtime = #{readtime,jdbcType=TIMESTAMP},
      checkid = #{checkid,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where readid = #{readid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select readid, readman, date_format(readtime, '%Y/%m/%d') readtime, checkid, create_by, date_format(create_date, '%Y/%m/%d') create_date, update_by, date_format(update_date, '%Y/%m/%d') update_date,
    remarks, flag
    from bd_check_read
    where readid = #{readid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdCheckRead" >
    select readid, readman, date_format(readtime, '%Y/%m/%d') readtime, checkid, create_by, date_format(create_date, '%Y/%m/%d') create_date, update_by, date_format(update_date, '%Y/%m/%d') update_date,
    remarks, flag
    from bd_check_read
    where 1=1
    <if test="checkid !=null and checkid != '' ">
      and checkid = #{checkid}
    </if>
    <if test="readman !=null and readman != '' ">
      and readman = #{readman}
    </if>
  </select>
</mapper>