<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdMiddleCaseMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdMiddleCase" >
    <id column="ajid" property="ajid" jdbcType="VARCHAR" />
    <id column="raj" property="raj" jdbcType="VARCHAR" />
    <result column="ah" property="ah" jdbcType="VARCHAR" />
    <result column="gsfy" property="gsfy" jdbcType="VARCHAR" />
    <result column="cbbm" property="cbbm" jdbcType="VARCHAR" />
    <result column="cbr" property="cbr" jdbcType="VARCHAR" />
    <result column="xz" property="xz" jdbcType="VARCHAR" />
    <result column="ay" property="ay" jdbcType="VARCHAR" />
    <result column="jafs" property="jafs" jdbcType="VARCHAR" />
    <result column="jasj" property="jasj" jdbcType="TIMESTAMP" />
    <result column="lx" property="lx" jdbcType="VARCHAR" />
    <result column="thirdid" property="thirdid" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="relatedcasecount" property="relatedcasecount" jdbcType="VARCHAR" />
    <result column="relatedcaseid" property="relatedcaseid" jdbcType="VARCHAR" />
    <result column="passcheck" property="passcheck" jdbcType="VARCHAR" />
    <result column="pcjl" property="pcjl" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_middle_case
    where ajid = #{ajid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdMiddleCase" >
    insert into bd_middle_case (ajid, ah, gsfy, 
      cbbm, cbr, xz, ay, 
      jafs, jasj, lx, thirdid, 
      create_by, create_date, update_by, 
      update_date, remarks, flag,relatedcasecount,relatedcaseid,passcheck
      )
    values (#{ajid,jdbcType=VARCHAR}, #{ah,jdbcType=VARCHAR}, #{gsfy,jdbcType=VARCHAR}, 
      #{cbbm,jdbcType=VARCHAR}, #{cbr,jdbcType=VARCHAR}, #{xz,jdbcType=VARCHAR}, #{ay,jdbcType=VARCHAR}, 
      #{jafs,jdbcType=VARCHAR}, #{jasj,jdbcType=TIMESTAMP}, #{lx,jdbcType=VARCHAR}, #{thirdid,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR},
      #{relatedcasecount,jdbcType=VARCHAR},#{relatedcaseid,jdbcType=VARCHAR},#{passcheck,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdMiddleCase" >
    update bd_middle_case
    set ah = #{ah,jdbcType=VARCHAR},
      gsfy = #{gsfy,jdbcType=VARCHAR},
      cbbm = #{cbbm,jdbcType=VARCHAR},
      cbr = #{cbr,jdbcType=VARCHAR},
      xz = #{xz,jdbcType=VARCHAR},
      ay = #{ay,jdbcType=VARCHAR},
      jafs = #{jafs,jdbcType=VARCHAR},
      jasj = #{jasj,jdbcType=TIMESTAMP},
      lx = #{lx,jdbcType=VARCHAR},
      thirdid = #{thirdid,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      relatedcasecount = #{relatedcasecount,jdbcType=VARCHAR},
      relatedcaseid = #{relatedcaseid,jdbcType=VARCHAR},
      passcheck = #{passcheck,jdbcType=VARCHAR},
      relatedcaseid = #{relatedcaseid,jdbcType=VARCHAR}
    where ajid = #{ajid,jdbcType=VARCHAR}
  </update>

  <update id="updatePassCheck" parameterType="java.lang.String" >
    update bd_middle_case
    set passcheck = '1'
    where ajid = #{ajid,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ajid, ah, gsfy, cbbm, cbr, xz, ay, jafs, jasj, lx, thirdid, create_by, create_date, 
    update_by, update_date, flag,relatedcasecount,relatedcaseid,passcheck
    ,(select fydm from sd_organization o where o.zzjgmc = c.gsfy limit 1) fydm
    ,(select remarks from sd_organization o where o.zzjgmc = c.gsfy limit 1) remarks
    from bd_middle_case c
    where ajid = #{ajid,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdMiddleCase"  >
    select ajid, ah, gsfy, cbbm, cbr, xz, ay, jafs, DATE_FORMAT(jasj, '%Y/%m/%d') jasj, lx, thirdid, create_by, DATE_FORMAT(create_date, '%Y/%m/%d %H:%i:%S') create_date,
    update_by, DATE_FORMAT(update_date, '%Y/%m/%d %H:%i:%S') update_date, remarks, flag,passcheck

    ,relatedcasecount,relatedcaseid,(select count(1) from bd_check_cases a where a.ajid = t.ajid and a.jydp is not null) pcjl
    from bd_middle_case t where 1=1

  <if test="formrelatedcaseid !=null and formrelatedcaseid.length  > 0">
    and ah in
    <foreach item="item" index="index" collection="formrelatedcaseid" open="(" separator="," close=")">
      #{item}
    </foreach>
  </if>
  <if test="jcs !=null and jcs.length  > 0">
    and ajid not in
    <foreach item="jc" index="index" collection="jcs" open="(" separator="," close=")">
      #{jc}
    </foreach>
  </if>
  <if test="formAjxz !=null and formAjxz.length  > 0">
    and xz in
    <foreach item="item" index="index" collection="formAjxz" open="(" separator="," close=")">
      #{item}
    </foreach>
  </if>
  <if test="formGsfy !=null and formGsfy.length  > 0">
    and gsfy in
    <foreach item="item" index="index" collection="formGsfy" open="(" separator="," close=")">
      #{item}
    </foreach>
  </if>
  <if test="formAjlx !=null and formAjlx.length  > 0">
    and lx in
    <foreach item="item" index="index" collection="formAjlx" open="(" separator="," close=")">
      #{item}
    </foreach>
  </if>
  <if test="cbbm !=null and cbbm != '' ">
    and cbbm like concat('%',#{cbbm},'%')
  </if>
  <if test="cbr !=null and cbr != '' ">
    and cbr like concat('%',#{cbr},'%')
  </if>
  <if test="ah !=null and ah != '' ">
    and ah like concat('%',#{ah},'%')
  </if>
  <if test="ay !=null and ay != '' ">
    and ay like concat('%',#{ay},'%')
  </if>

  <if test="formStartJarq != null and formStartJarq != '' ">
    and date_format(jasj, '%Y/%m/%d') &gt;= #{formStartJarq}
  </if>
  <if test="formEndJqrq != null and formEndJqrq != '' ">
    and date_format(jasj, '%Y/%m/%d') &lt;= #{formEndJqrq}
  </if>
  order by create_date desc
</select>

  <select id="random" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdMiddleCase"  >
    select ajid, ah, gsfy, cbbm, cbr, xz, ay, jafs, DATE_FORMAT(jasj, '%Y/%m/%d') jasj, lx, thirdid, create_by, DATE_FORMAT(create_date, '%Y/%m/%d %H:%i:%S') create_date,
    update_by, DATE_FORMAT(update_date, '%Y/%m/%d %H:%i:%S') update_date, remarks, flag,passcheck

    ,relatedcasecount,relatedcaseid,(select count(1) from bd_check_cases a where a.ajid = t.ajid and a.jydp is not null) pcjl
    ,(select fydm from sd_organization o where o.zzjgmc = t.gsfy limit 1) fydm
    from bd_middle_case t where 1=1

    <if test="jcs !=null and jcs.length  > 0">
      and ajid not in
      <foreach item="jc" index="index" collection="jcs" open="(" separator="," close=")">
        #{jc}
      </foreach>
    </if>
    <if test="formAjxz !=null and formAjxz.length  > 0">
      and xz in
      <foreach item="item" index="index" collection="formAjxz" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="formGsfy !=null and formGsfy.length  > 0">
      and gsfy in
      <foreach item="item" index="index" collection="formGsfy" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="formAjlx !=null and formAjlx.length  > 0">
      and lx in
      <foreach item="item" index="index" collection="formAjlx" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="cbbm !=null and cbbm != '' ">
      and cbbm like concat('%',#{cbbm},'%')
    </if>
    <if test="cbr !=null and cbr != '' ">
      and cbr like concat('%',#{cbr},'%')
    </if>
    <if test="ah !=null and ah != '' ">
      and ah like concat('%',#{ah},'%')
    </if>
    <if test="ay !=null and ay != '' ">
      and ay like concat('%',#{ay},'%')
    </if>

    <if test="formStartJarq != null and formStartJarq != '' ">
      and date_format(jasj, '%Y/%m/%d') &gt;= #{formStartJarq}
    </if>
    <if test="formEndJqrq != null and formEndJqrq != '' ">
      and date_format(jasj, '%Y/%m/%d') &lt;= #{formEndJqrq}
    </if>
    ORDER BY RAND() LIMIT #{randomcount}
  </select>

</mapper>