<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.BdPublishMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.BdPublish" >
    <id column="xxid" property="xxid" jdbcType="VARCHAR" />
    <result column="bt" property="bt" jdbcType="VARCHAR" />
    <result column="btys" property="btys" jdbcType="VARCHAR" />
    <result column="xxlx" property="xxlx" jdbcType="VARCHAR" />
    <result column="xxlxmc" property="xxlxmc" jdbcType="VARCHAR" />
    <result column="xxnr" property="xxnr" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_bymc" property="createByMC" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />

    <result column="shr" property="shr" jdbcType="VARCHAR" />
    <result column="shjg" property="shjg" jdbcType="VARCHAR" />
    <result column="shyj" property="shyj" jdbcType="VARCHAR" />
    <result column="shsj" property="shsj" jdbcType="VARCHAR" />
    <result column="jobid" property="jobid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_publish
    where xxid = #{xxid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.BdPublish" >
    insert into bd_publish (xxid, bt, btys, 
      xxlx, xxnr, create_by, 
      create_date, update_by, update_date, 
      remarks, flag)
    values (#{xxid,jdbcType=VARCHAR}, #{bt,jdbcType=VARCHAR}, #{btys,jdbcType=VARCHAR}, 
      #{xxlx,jdbcType=VARCHAR}, #{xxnr,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR},
      #{remarks,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.BdPublish" >
    update bd_publish
    set bt = #{bt,jdbcType=VARCHAR},
      btys = #{btys,jdbcType=VARCHAR},
      xxlx = #{xxlx,jdbcType=VARCHAR},
      xxnr = #{xxnr,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where xxid = #{xxid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select xxid, bt, btys, xxlx, xxnr, create_by, create_date, update_by, update_date, 
    remarks, flag
    from bd_publish
    where xxid = #{xxid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select xxid, bt, btys, xxlx, xxnr, create_by, create_date, update_by, update_date, 
    remarks, flag
    from bd_publish
  </select>



  <select id="selectMyList" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdPublish" >
    select
      bp.xxid, bp.bt, bp.btys, bp.xxlx,fn_get_dict(bp.xxlx) xxlxmc, xxnr,
      create_by,fn_get_username(create_by) create_bymc , DATE_FORMAT(create_date, '%Y/%m/%d %H:%i:%S') create_date, remarks,fn_get_dict(remarks) ztmc
      ,(select fn_get_username(sfh.shr) from sd_flow_history sfh where sfh.lcmk='10303' and sfh.shnrid = bp.xxid order by sfh.create_date desc limit 1) shr
      ,(select sfh.shyj from sd_flow_history sfh where sfh.lcmk='10303' and sfh.shnrid = bp.xxid order by sfh.create_date desc limit 1) shyj
      ,(select DATE_FORMAT(sfh.shsj, '%Y/%m/%d %H:%i:%S') from sd_flow_history sfh where sfh.lcmk='10303' and sfh.shnrid = bp.xxid order by sfh.create_date desc limit 1) shsj
    from bd_publish bp
    where 1=1

    <if test="createBy != null and createBy != '' ">
      and bp.`create_by` =#{createBy}
    </if>
    <if test="bt != null and bt != '' ">
      and bp.`bt` like concat('%',#{bt},'%')
    </if>

    <if test="xxlx != null and xxlx != '' ">
      and bp.xxlx = #{xxlx}
    </if>

    <if test="createdate1 != null and createdate1 != '' ">
      and date_format(create_date, '%Y/%m/%d %H:%i:%S') &gt;= #{createdate1}
    </if>
    <if test="createdate2 != null and createdate2 != '' ">
      and date_format(create_date, '%Y/%m/%d %H:%i:%S') &lt;= #{createdate2}
    </if>
    order by create_date DESC

  </select>

  <select id="selectVerifyList" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdPublish" >
        SELECT
        sfj.id jobid,sfj.shnrid,
        bp.xxid, bp.bt, bp.btys, bp.xxlx,fn_get_dict(bp.xxlx) xxlxmc, bp.xxnr,
        bp.create_by,fn_get_username(bp.create_by) create_bymc , DATE_FORMAT(bp.create_date, '%Y/%m/%d %H:%i:%S') create_date, bp.remarks,fn_get_dict(bp.remarks) ztmc
        FROM bd_publish bp
        INNER JOIN v_flow_job sfj ON bp.xxid = sfj.shnrid AND bp.remarks &lt;&gt; '10603' AND sfj.lcmk = '10303'
		WHERE sfj.yhid = #{shr} order by bp.create_date desc

  </select>

  <select id="selectVerifyHistoryList" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.BdPublish" >
        SELECT fn_get_dict(sfh.shjg) shjg,sfh.shyj,fn_get_username(sfh.shr) shr,DATE_FORMAT(sfh.shsj, '%Y/%m/%d %H:%i:%S') shsj,
        bp.xxid, bp.bt, bp.btys, bp.xxlx,fn_get_dict(bp.xxlx) xxlxmc, bp.xxnr,
        bp.create_by,fn_get_username(bp.create_by) create_bymc , DATE_FORMAT(bp.create_date, '%Y/%m/%d %H:%i:%S') create_date, bp.remarks,fn_get_dict(bp.remarks) ztmc
		FROM bd_publish bp INNER JOIN sd_flow_history sfh ON sfh.shnrid = bp.xxid AND sfh.lcmk = '10303' AND sfh.shr = #{shr}
  </select>

</mapper>