<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.RoleMapper">
	<resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.RoleBean">
		<id column="id" property="id" />
		<result column="jsmc" property="jsmc" />
		<result column="jssm" property="jssm" />
		<result column="create_by" property="create_by" />
		<result column="create_date" property="create_date" />
		<result column="update_by" property="update_by" />
		<result column="update_date" property="update_date" />
		<result column="remarks" property="remarks" />
		<result column="flag" property="flag" />
	</resultMap>

	<sql id="Base_Column_List">
		id,jsmc,jssm,create_by,create_date,update_by,update_date,remarks,flag
	</sql>

	<select id="selectIdByNameSet" resultType="string" parameterType="string">
		SELECT replace(GROUP_CONCAT(id),',',';') FROM sd_role WHERE FIND_IN_SET(jsmc,replace(#{0},'，',','))
	</select>
	
	<select id="selectList" resultMap="BaseResultMap" parameterType="cn.gov.ahcourt.casecomment.bean.RoleBean">
		select
		<include refid="Base_Column_List" />
		from sd_role
		<where>
			<if test="id != null and id != '' ">
				and id = #{id}
			</if>
			<if test="jsmc != null and jsmc != '' ">
				and jsmc = #{jsmc}
			</if>
			<if test="jssm != null and jssm != '' ">
				and jssm = #{jssm}
			</if>
			<if test="create_by != null and create_by != '' ">
				and create_by = #{create_by}
			</if>
			<if test="create_date != null and create_date != '' ">
				and create_date = #{create_date}
			</if>
			<if test="update_by != null and update_by != '' ">
				and update_by = #{update_by}
			</if>
			<if test="update_date != null and update_date != '' ">
				and update_date = #{update_date}
			</if>
			<if test="remarks != null and remarks != '' ">
				and remarks = #{remarks}
			</if>
		</where>
		order by sort
	</select>

	<insert id="insertSelective" parameterType="cn.gov.ahcourt.casecomment.bean.RoleBean">
		insert into sd_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">
				id,
			</if>
			<if test="jsmc != null and jsmc != '' ">
				jsmc,
			</if>
			<if test="jssm != null and jssm != '' ">
				jssm,
			</if>
			<if test="create_by != null and create_by != '' ">
				create_by,
			</if>
				create_date,
			<if test="update_by != null and update_by != '' ">
				update_by,
			</if>
				update_date,
			<if test="remarks != null and remarks != '' ">
				remarks,
			</if>
			<if test="flag != null and flag != '' ">
				flag,
			</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">
				#{id},
			</if>
			<if test="jsmc != null and jsmc != '' ">
				#{jsmc},
			</if>
			<if test="jssm != null and jssm != '' ">
				#{jssm},
			</if>
			<if test="create_by != null and create_by != '' ">
				#{create_by},
			</if>
				now(),
			<if test="update_by != null and update_by != '' ">
				#{update_by},
			</if>
				now(),
			<if test="remarks != null and remarks != '' ">
				#{remarks},
			</if>
			<if test="flag != null and flag != '' ">
				#{flag},
			</if>
		</trim>
	</insert>

	<update id="updateByIdSelective" parameterType="cn.gov.ahcourt.casecomment.bean.RoleBean">
		update sd_role
		<set>
			<if test="jsmc != null and jsmc != '' ">
				jsmc = #{jsmc},
			</if>
			<if test="jssm != null and jssm != '' ">
				jssm = #{jssm},
			</if>
			<if test="create_by != null and create_by != '' ">
				create_by = #{create_by},
			</if>
			<if test="create_date != null and create_date != '' ">
				create_date = #{create_date},
			</if>
			<if test="update_by != null and update_by != '' ">
				update_by = #{update_by},
			</if>
			<if test="update_date != null and update_date != '' ">
				update_date = #{update_date},
			</if>
			<if test="remarks != null and remarks != '' ">
				remarks = #{remarks},
			</if>
			<if test="flag != null and flag != '' ">
				flag = #{flag},
			</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteSelective" parameterType="string">
		delete from sd_role where id = #{id}
		
	</delete>
	<select id="selectrolebyid" resultMap="BaseResultMap" parameterType="string">
		select
		<include refid="Base_Column_List" />
		from sd_role
		<where>
			<if test="id != null and id != '' ">
				and id = #{id}
			</if>
		</where>
	</select>
</mapper>
