<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.SdProfessionalMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.SdProfessional" >
    <id column="zjid" property="zjid" jdbcType="VARCHAR" />
    <result column="zy" property="zy" jdbcType="VARCHAR" />
    <result column="bq" property="bq" jdbcType="VARCHAR" />
    <result column="tx" property="tx" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="js" property="js" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ResultMapWithUser" type="cn.gov.ahcourt.casecomment.bean.SdProfessional" >
    <id column="zjid" property="zjid" jdbcType="VARCHAR" />
    <result column="zy" property="zy" jdbcType="VARCHAR" />
    <result column="zymc" property="zymc" jdbcType="VARCHAR" />
    <result column="bq" property="bq" jdbcType="VARCHAR" />
    <result column="bqmc" property="bqmc" jdbcType="VARCHAR" />
    <result column="tx" property="tx" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="js" property="js" jdbcType="VARCHAR" />

    <result column="dzyx" property="dzyx" />
    <result column="dh" property="dh" />
    <result column="sj" property="sj" />
    <result column="xm" property="xm" />
    <result column="zzjgid" property="zzjgid" />
    <result column="zzjgmc" property="zzjgmc" />
    <result column="pcs" property="pcs" />
  </resultMap>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sd_professional
    where zjid = #{zjid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.SdProfessional" >
    insert into sd_professional (zjid, zy, bq, 
      tx, userid, js)
    values (#{zjid,jdbcType=VARCHAR}, #{zy,jdbcType=VARCHAR}, #{bq,jdbcType=VARCHAR}, 
      #{tx,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{js,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.SdProfessional" >
    update sd_professional
    set zy = #{zy,jdbcType=VARCHAR},
      bq = #{bq,jdbcType=VARCHAR},
      tx = #{tx,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      js = #{js,jdbcType=VARCHAR}
    where zjid = #{zjid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select zjid, zy, bq, tx, userid, js
    from sd_professional
    where zjid = #{zjid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select zjid, zy, bq, tx, userid, js
    from sd_professional
  </select>


  <select id="select" resultMap="ResultMapWithUser" parameterType="cn.gov.ahcourt.casecomment.bean.SdProfessional" >
    select zjid, zy,fn_get_dict(zy) zymc, bq,fn_get_dict(bq) bqmc, a.tx, userid, js,b.dh,b.dzyx,b.sj,b.xm,c.zzjgid ,c.zzjgmc
    from sd_professional a, sd_user b,sd_organization c where a.userid = b.yhid and b.zzid = c.zzjgid

    <if test="zjid != null and zjid != '' ">
      and zjid = #{zjid,jdbcType=VARCHAR}
    </if>
    <if test="xm != null and xm != '' ">
      and b.xm like concat('%',#{xm},'%')
    </if>
    <if test="zzjgmc != null and zzjgmc != '' ">
      and c.zzjgmc like concat('%',#{zzjgmc},'%')
    </if>
  </select>

  <select id="selectForActive" resultMap="ResultMapWithUser" parameterType="java.lang.String" >
    select zjid, zy,fn_get_dict(zy) zymc, bq,fn_get_dict(bq) bqmc, a.tx, userid, js,b.dh,b.dzyx,b.sj,b.xm,c.zzjgid ,c.zzjgmc,(select count(1) from bd_check_pros d, bd_check_cases e where d.groupid = e.psgroupid and e.checkid=#{ggid} and d.proid = b.yhid ) pcs
    from sd_professional a, sd_user b,sd_organization c where a.userid = b.yhid and b.zzid = c.zzjgid and b.yhid in (select c.proid from bd_check_pros c where c.checkid = #{ggid})
  </select>

  <select id="selectForChosen" resultMap="ResultMapWithUser" parameterType="java.lang.String" >
    select zjid, zy,fn_get_dict(zy) zymc, bq,fn_get_dict(bq) bqmc, a.tx, userid, js,b.dh,b.dzyx,b.sj,b.xm,c.zzjgid ,c.zzjgmc,(select count(1) from bd_chosen_pros d, bd_chosen_cases e where d.groupid = e.psgroupid and e.chosenid=#{ggid} and d.proid = b.yhid ) pcs
    from sd_professional a, sd_user b,sd_organization c where a.userid = b.yhid and b.zzid = c.zzjgid and b.yhid in (select c.proid from bd_chosen_pros c where c.chosenid = #{ggid})
  </select>

</mapper>