<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.ahcourt.casecomment.mapper.WsLogMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.ahcourt.casecomment.bean.WsLog" >
    <id column="errorid" property="errorid" jdbcType="VARCHAR" />
    <result column="taskid" property="taskid" jdbcType="VARCHAR" />
    <result column="taskitemid" property="taskitemid" jdbcType="VARCHAR" />
    <result column="log" property="log" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WS_LOG
    where errorid = #{errorid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.ahcourt.casecomment.bean.WsLog" >
    insert into WS_LOG (errorid, taskid, taskitemid, 
      log)
    values (#{errorid,jdbcType=VARCHAR}, #{taskid,jdbcType=VARCHAR}, #{taskitemid,jdbcType=VARCHAR}, 
      #{log,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.gov.ahcourt.casecomment.bean.WsLog" >
    update WS_LOG
    set taskid = #{taskid,jdbcType=VARCHAR},
      taskitemid = #{taskitemid,jdbcType=VARCHAR},
      log = #{log,jdbcType=LONGVARCHAR}
    where errorid = #{errorid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select errorid, taskid, taskitemid, log
    from WS_LOG
    where errorid = #{errorid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select errorid, taskid, taskitemid, log
    from WS_LOG
  </select>
</mapper>