<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!--<ref bean="triggerCaseInit" />-->
                <!--<ref bean="triggerCaseUpdate" />-->
            </list>
        </property>
    </bean>

    <bean id="triggerCaseInit" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail"><ref bean="ijobCaseInit" /></property>
        <property name="cronExpression"><value>0 0 23 * * ?</value></property>
    </bean>
    <bean id="triggerCaseUpdate" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail"><ref bean="ijobCaseUpdate" /></property>
        <property name="cronExpression"><value>0 0 1 * * ?</value></property>
    </bean>

    <bean id="ijobCaseInit" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject"><ref bean="caseInit" /></property>
        <property name="targetMethod"><value>doJob</value></property>
    </bean>
    <bean id="ijobCaseUpdate" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject"><ref bean="caseUpdate" /></property>
        <property name="targetMethod"><value>doJob</value></property>
    </bean>

    <bean id="caseInit" class="cn.gov.ahcourt.casecomment.scheduled.JobCaseInit" />
    <bean id="caseUpdate" class="cn.gov.ahcourt.casecomment.scheduled.JobCaseUpdate" />

</beans>